{{define "title"}}
<html>
<h1>These are games</h1>
		{{range .Games}}<div>{{ .Title}} - {{ .Genre}} - {{ .Year}} </div>{{else}}<div><strong>no rows</strong></div>{{end}}
</html>
{{end}}


{{define "postgamedata"}}
<html>
<form method="post" action="/home">
<h1>Post more games into the library.</h1>
	<textarea  name="title" required placeholder="title"></textarea>
	<textarea  name="year" required placeholder="year"></textarea>
	<textarea  name="genre" required placeholder="genre"></textarea>
	
	<br>
	<button type="submit">Send</button>
</form>
</html>
{{end}}